@font-face {
  font-family: "iconfont"; /* Project id 3861602 */
  src: url("//at.alicdn.com/t/c/font_3861602_y633l7sgll.woff2?t=1674896827292")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3861602_y633l7sgll.woff?t=1674896827292")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3861602_y633l7sgll.ttf?t=1674896827292")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before {
  content: "\e600";
}

.icon-dingbudaohang-zhangh:before {
  content: "\e715";
}

.icon-arrow-down-filling:before {
  content: "\e688";
}

.icon-open_eyes:before {
  content: "\e648";
}

.icon-CloseEyes:before {
  content: "\e61a";
}
