@font-face {
  font-family: "iconfont"; /* Project id 3861602 */
  src: url("//at.alicdn.com/t/c/font_3861602_1g321rqnnrn.woff2?t=1673510579864")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3861602_1g321rqnnrn.woff?t=1673510579864")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3861602_1g321rqnnrn.ttf?t=1673510579864")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-open_eyes:before {
  content: "\e648";
}

.icon-CloseEyes:before {
  content: "\e61a";
}
